.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cajitas{
    width: 25%;
  }

  .inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .loginbutton{
    margin-top: 20px;
  }

  h2{
    margin-bottom: 20px;
  }
